*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.root{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1rem;
}
.card{
    background-color: rgba(2, 0, 0, 0.748);
    border-radius: 18px;
    padding: 1rem;
    border: 5px solid black;
    outline: 2px solid red;
    
}

.name{
    text-align: center;
    color: rgba(52, 1, 1, 0.863);
    text-shadow: 1px 1px 1px black;
}

.contact-info-wrapper{

}
.email,.address{
    color: rgb(106, 3, 3);
    text-shadow: 1px 1px 1px  black;
}